<div class="col-sm-3 ml-sm-auto blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>Hi! My name is Brian. I am a full-time firefighter and software developer. As a firefighter, I work on a rescue
        company is the Charleston, SC Area. I am also part of SCTF1 in Communications. I have a deep passion for 
        technology, software development, and rescue.</p>
    </div>
        
        <div class="sidebar-module">
            <h4>Archives</h4>
                <ol class="list-unstyled">
                    <li><a href="#">March 2014</a></li>
                    <li><a href="#">February 2014</a></li>
                    <li><a href="#">January 2014</a></li>
                </ol>    
        </div>

        <div class="sidebar-module">
            <h4>Get Social</h4>
                <ol class="list-unstyled">
                    <li><a href="https://github.com/Tekkit886">GitHub</a></li>
                    <li><a href="https://twitter.com/TailboardTech">Twitter</a></li>
                    <li><a href="https://www.linkedin.com/in/brian-martin-33761916/">LinkedIn</a></li>
                </ol>
        </div>
    </div>
</div>
              