<h1>About Me</h1>
<p>My name is Brian, I am a full-time firefighter with a background in Firefighting, Emergency Management, 
Urban Search and Rescue, Technology. During my days off between shifts, I work as a 
web developer and software developer in Lexington, South Carolina.</p>

<p>Please check out some of my projects sample projects on GitHub.</p>
