<h1>About Me</h1>
<p>My name is Brian, I am a full-time firefighter with a background in Firefighting, Emergency Management, 
Urban Search and Rescue, Technology. During my days off between shifts, I work as a 
web developer and software developer in Lexington, South Carolina, and work on freelancing projects.
Programming has and will always be a passion of mine. I am always working and working towards building
my business.</p>

<h2>Projects</h2>
<div class="container">
    <div class="row">
    
        
        <div class="col-md-4">
        <label>Tailboard Tech - Take The Hydrant</label>
            <label>Lead Developer/Founder</label>
            <label>Technologies:</label>
        </div>
        <div class="col-md-4">
            <label>SConFire.com</label><br>
            <label>Lead Developer</label><br> 
            <label>Technologies:</label>
        </div>
    </div>
</div>

<!--<p>Please check out more of my projects on GitHub.</p>-->
