<h1>About Me</h1>
<p>I am a full-time firefighter with a background in Emergency Management, Urban Search and Rescue, Technology. During my days off between shifts, I work as a web developer and software developer for a billing company out of Lexington, South Carolina. I have deep passion for Full-Stack development. From the web, software, and game development I enjoy it all. </p>
