<br>

<h1>Reach Out</h1>
<hr>

<div class="row">
	<div class="col-md-6">
		<h3>Office Address</h3>
		<p>1850 Ashely Crossing Lane, Charleston, SC 29414</p>
		<h3>Phone</h3>
		<p><%= number_to_phone "856-3437249" %></p>
		<h3>Email</h3>
		<p><a href="mailto:brian@tailboardtech.com?subject=ProfolioContact "email me">Email Me</a></p>
	</div>

	<div class="col-md-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3353.0267957298092!2d-80.03956568523664!3d32.81805498095951!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88fe7cf6703213ef%3A0xb250cc0bef2628b9!2s1850+Ashley+Crossing+Ln%2C+Charleston%2C+SC+29414!5e0!3m2!1sen!2sus!4v1522716142970" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>